*{
    padding: 0;
    margin: 0;
}
.navbar {
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 50px;
    text-align: center;
   

    justify-content: center;
    gap: 20px;
    width: 90%;
    margin: auto;
}


h4{
    color: #CE9178;
    font-family: cursive;
}

#no {
    height: 36px;
    width: 80px;
    font-size: 16px;
    color: rgb(185, 185, 185);
    border: 1px solid #afec3f;
    border-radius: 4px;
    background-color: #474747;
}
 
#no:focus {
    outline: none;
}
 
.css-2b097c-container {
    width: 120px;
    color: black;
    background-color: #474747;
}
 
.css-yk16xz-control {
    background-color: #474747 !important;
    border-color: #afec3f !important;
}
.select-class{
    font-family: 'Courier New', Courier, monospace;
  }

.select-class:focus{
    background-color: black;
}
.select-menu{
    background-color: #474747;
}
